@import '../variables.scss';


.bracelet-container {
	position: relative;
	margin: 2rem 0 2rem 0;
	width: 85vw;
	
	.center-mark {
		position: absolute;
		top: 0;
		bottom: 0;
		left: calc(50% - 0.175rem);
		right: 50%;
		width: 0.35rem;
		background-color: rgba(3, 40, 70, 0.25);
		border-radius: 100%;
		z-index: 2;
	}

	.bracelet {
		@include center-h;
		width: 85vw;
		background: linear-gradient(rgba(9, 136, 247, 0.25), rgba(122, 183, 230, 0.5)), url('../assets/metal-texture.jpg');
		background-size: cover, cover;
		background-position: center, center;
		box-shadow: rgb(79, 81, 85) 0.3rem 0.3rem 0.1rem,
								inset rgba(255, 255, 255, 0.25) 0.2rem 0.2rem 0.3rem,
								inset rgba(0, 0, 0, 0.25) -0.2rem -0.2rem 0.6rem,
								rgba(0, 0, 0, 0.25) 0.5rem 0.5rem 0.5rem,
								rgba(0, 0, 0, 0.25) 1rem 1.5rem 1rem,
								inset rgba(255, 255, 255, 0.25) -0.1rem -0.1rem 0.2rem;
		overflow: hidden;
		transition: all ease 1s;

		.stamped {
			margin: 0 0.2rem 0 0.2rem;
			filter: opacity(65%) drop-shadow($white65 2px 2px 2px);
		}
	}
}
