@import '../variables.scss';

.stamps {
	@include center-h;
	display: grid;
	grid-template-columns: 9rem auto 9rem;
	grid-template-rows: auto 1fr;
	margin-top: 2rem;
	padding-top: 1.5rem;
	border-top: solid 0.2rem $white65;

	@include tablet-and-smaller {
		margin-top: 0;
	}

	.stamp-keyboard {
		grid-row: 1;
		grid-column: 2;
		
		.stamp-set {
			grid-column: 2/3;
			@include center-h;
			flex-wrap: wrap;
			max-width: 65rem;
			margin: 0 5% 0 5%;

			.stamp {
				@include center-h;
				@include keyboard-button;
				outline: none;

				img {
					max-height: 80%;
					max-width: 80%;
					filter: invert(100%);
				}
			}
		}
	}

	.arrow {
		grid-row: 1;
		margin: 0 3rem 0 3rem;
		width: 4rem;
		filter: invert(90%) opacity(80%);
		cursor: pointer;
	}

	.arrow:hover {
		filter: invert(90%) opacity(70%) drop-shadow($white65 1px 1px 0.5rem);
	}

	.arrow.left {
		grid-column: 1/2;
		transform: rotate(90deg);
	}

	.arrow.right {
		grid-column: 3/4;
		transform: rotate(270deg);
	}

	.stamp-controls {
		grid-column: 1/4;
		grid-row: 2;
		@include center-h;
		margin-top: 1.5rem;
		padding: 1.5rem 0;
		border-top: solid 0.2rem $white4;
		border-bottom: solid 0.2rem $white65;

		.stamp-control-button {
			@include keyboard-button;
			padding: 0.5rem 3rem 0.5rem 3rem;
			max-width: 30rem;
			@include font-two;
			text-align: center;
			text-transform: uppercase;
		}
	}
}
