@import './variables.scss';

* {
	font-size: 10px;
	margin: 0;
	box-sizing: border-box;
}

.app {
	min-height: 100vh;
	min-width: 100vw;
	background: url('./assets/colorfultriangles.jpg');
	background-size: cover;
	background-position: center;

	.app-container {
    position: fixed;
    top: 5rem;
    right: 2rem;
		left: 2rem;
		@include center-v;
		min-height: calc(100vh - 7rem);
		padding: 3rem 0 3rem 0;
    border-radius: 2rem;
		background-color: $white15;

		.error-message {
			@include keyboard-button;
			background-color: rgba(255, 50, 50, 0.5);
			color: white;
			padding: 1rem 3rem 1rem 3rem;
		}
	}
}
